<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AzureWebJobsStorage" value="DefaultEndpointsProtocol=https;AccountName=webjobsstoragek;AccountKey=2zyokhTPcb5wb5XrbzBsSq+lQi013lPqHoR2v7pKS5rWrFCDU5Lq+xSDP91d3gijJvVExp49hA7Ig44MPxYmDg==;EndpointSuffix=core.windows.net" />

	</appSettings>
</configuration>
